header{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
img{
    margin:   5px auto;
    text-align: center;
    display: block;
}
figcaption{
    text-align: center;
}
main{
    width: auto;
    background-color: rgb(240, 235, 235);
    border-radius: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    
}
section{
    
    margin:   1rem 22.5rem ;
}
section h2, h3{
    margin-left: 1rem;
}
a{
    color: rgb(34, 34, 68);
    text-decoration: underline;
}
footer{
    text-align: center;
}
